/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*ESTILO PROYECTO 1*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background-image: url(../img/hero2x.jpg);
  background-position: top right;
  background-size: 800px;
  background-repeat: no-repeat;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 100px;
 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header figure {
  margin: 0;
}
header figure img {
  width: 171px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 56px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #424241;
  text-decoration: none;
}

section.hero {
  min-height: 400px;
}
div.hero-title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 450px;
  font-size: 45px;
  transform: scaleY(1.6);
  color: #424241;
  line-height: 50px;
  width: 500px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 0;
} 

div.hero-title span {
  color: #7EDAD2;
  ;
}

div.hero-title p {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 410px;
  color: #909090;
  font-size: 17px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

div.hero-title a {
  height: 50px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #FAFAFA;
  background-color: #7EDAD2;
  padding: 13px 25px;
  font-size: 12px;

}

div.hero-numbers {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  
}

div.hero-numbers h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  transform: scaleY(1.4);
  font-size: 20px;
  color: #424241;
  line-height: 15px;
  width: 70px;
  margin: 10px 0;
  text-align: center;
  padding-left: 6px;
}

div.hero-numbers span {
  font-family: "Poppins", sans-serif;
  color: #909090;
  font-size: 12px;
}

section.options {
  margin-top: 15px;
  display: flex;
  gap: 30px;
}

section.options article {
  background-color: #FAFAFA;
  padding: 20px;
  width: 200px;
}

section.options article img {
  width: 20%;
}
section.options article h3 {
  font-family: "Poppins", sans-serif;
  color: #424241;
  font-size: 14px;
  font-weight: bold;
  transform:matrix(1.1);
}

section.options article p {
  font-family: "Poppins", sans-serif;
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  padding-right: 10px;
}